.GameItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameItem img {
  width: 50%;
  margin-bottom: 10px;
}

.GameItem span {
  font-size: 18px;
}

.GameItem_off {
  background-color: #ececec;
}

.GameItem_on_1 {
  background-color: #64c964;
  color: white;
}



.GameItem_on_2 {
  background-color: #fdce17;
  color: white;
}



.GameItem_on_3 {
  background-color: #fd565f;
  color: white;
}
