.TeamItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TeamItem img {
  width: 50%;
  margin-bottom: 10px;
}

.TeamItem span {
  font-size: 18px;
}

.TeamItem_off {
  background-color: #ececec;
}

.TeamItem_on_1 {
  background-color: #EA0029;
  color: white;
}



.TeamItem_on_2 {
  background-color: #c30452;
  color: white;
}



.TeamItem_on_3 {
  background-color: #074CA1;
  color: white;
}

.TeamItem_on_4 {
  background-color: #CE0E2D;
  color: white;
}

.TeamItem_on_5 {
  background-color: #000000;
  color: white;
}

.TeamItem_on_6 {
  background-color: #315288;
  color: white;
}

.TeamItem_on_7 {
  background-color: #041E42;
  color: white;
}

.TeamItem_on_8 {
  background-color: #FF6600;
  color: white;
}

.TeamItem_on_9 {
  background-color: #570514;
  color: white;
}


